%float-window{
    position: fixed;
    border-radius: 10px;
    z-index: 1;
    transform: translate(-50%, -50%);
    overflow: auto;
    justify-content: center;
    align-items: center;
}


form{
    display: grid;
}

div.head, div.task{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

div.task{
    &:hover{
         background-color: aqua;
         cursor: pointer;
        }
}

span.spanList{
    pointer-events: none; // Avoid the child el being call when the event listener is in parent.
}

.divList{
    color: rebeccapurple;
    background-color: red;
}


div#mainDiv{
    @extend %float-window;
    display: none;
    left: 50%;
    top: 50%;
    width: 270px;
    height: 280px;
    background-color: white;
    border: 1px solid black;
}

button.btnShowForm{
    @extend %float-window;
    display: grid;
    width: 150px;
    height: 50px;
    left: 70%;
    top: 90%;
}